{% extends "index.html" %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<canvas id="myChart"></canvas>

<script>

{% for srv, rates in services['services'].items() %}

var {{ rates['jsvar'] }} = {
  label: '{{ srv }}',
  borderColor: '{{ rates['color'] }}',
  data: {{ rates['data'] | safe }}
};

{% endfor %}

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
  type: 'line',
  data: { datasets: {{ services['datasets'] }} },
  options: {
    scales: {
      xAxes: [{
        type: 'time',
        time : {unit: 'day', displayFormats: {day: 'DD-MM-YYYY'}},
        distribution: 'series'
      }]
    }
  }
});

</script>
{% endblock %}