<html>
    <head>
        <title>Get rates for a date</title>
    </head>
    <body>
        <div>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <table>
                    <tr>
                        <td>
                                {{ form.for_date.label }} : 
                                {{ form.for_date(size=32) }}
                                {{ form.to_date.label }} : 
                                {{ form.to_date(size=32) }}<br>
                                {% for error in form.for_date.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                                {% for error in form.to_date.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                        </td>
                        <td>
                            {{ form.submit() }}
                        </td>
                        <td>
                                {{ form.last_1_week() }}
                        </td>
                        <td>
                                {{ form.last_2_weeks() }}
                        </td>
                        <td>
                                {{ form.last_30_days }}
                        </td>
                        <td>
                                {{ form.last_45_days }}
                        </td>
                        <td>
                                {{ form.last_60_days }}
                        </td>
                        <td>
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <ul>
                                <span style="color: red;">
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </span>
                            </ul>
                            {% endif %}
                            {% endwith %}
                        </td>
                    </tr>
            </table>
            </form>
        </div>
        <div>
        {% block content %}{% endblock %}
    </div>
    </body>
</html>